<div class="container">


    <h1>Quizz</h1>
    <h2>Nouveauté en expérimentation</h2>

    Les éditions de Koh Lanta se composent d'aventuriers et d'épreuves.
    <br />
    Pourriez-vous répondre aux questions ?
    <br />
    <hr />

    {{#if @data.taskInstance.isRunning}}
    Chargement des types de question ...
    {{else if @data.taskInstance.error}}
    erreur : {{@data.taskInstance.error}}
    {{else if @data.taskInstance.value}}
    {{!-- {{model.taskInstance.value}} --}}
    {{!-- <Quizz::Quizz @data={{@data.taskInstance.value}} /> --}}

    {{#each @data.taskInstance.value.DistinctQuestionsOut as |item index| }}

    <LinkTo @route="quizz.question.question" @model={{item.questionWebPath}} @query={{hash filter2WebPath="null"}}>
        {{item.questionGenericName}}
    </LinkTo>
    <br />
    {{/each}}

    {{/if}}
</div>