<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Total</th>
            <th>Individuel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Victoires</th>
            <td>{{@stats.ranking1}}</td>
            <td>{{@stats.ranking1Alone}}</td>
        </tr>
        <tr>
            <th>Totems</th>
            <td>{{@stats.totems}}</td>
            <td>{{@stats.totemsIndividual}}</td>
        </tr>
        <tr>
            <th>Conforts</th>
            <td>{{@stats.conforts}}</td>
            <td>{{@stats.confortsIndividual}}</td>
        </tr>
    </tbody>
</table>